@tailwind base;
@tailwind components;
@tailwind utilities;

html[data-theme="theme-light-4"] {
  --primary: 8, 12, 10;
  --secondary: 206, 204, 188;
  /* --primbuttn: 61, 87, 71; */
  --primbuttn: 76, 170, 136;
  --secbuttn: 197, 188, 171;
  /* --accent: 85, 119, 97; */
  --accent: 237, 33, 124;
}

html[data-theme="theme-dark-1"] {
  --primary: 244, 246, 245;
  --secondary: 10, 10, 10;

  --primbuttn: 76, 170, 136;

  --secbuttn: 23, 23, 23;

  --accent: 237, 33, 124;
}

/* backup */
/* --primary: 244, 246, 245;
  --secondary: 7, 12, 19;
  --primbuttn: 198, 88, 97;
  --secbuttn: 13, 20, 33;
  --accent: 237, 33, 124; */

/* --primbuttn: 75, 113, 100; */
/* --primbuttn: 141, 165, 163; */
/* --secbuttn: 10, 10, 10; */
/* --accent: 190, 255, 255; */

.theme-light-1 {
  --primary: 29, 13, 7;
  --secondary: 250, 239, 235;
  --primbuttn: 104, 187, 217;
  --secbuttn: 244, 219, 210;
  --accent: 44, 140, 175;
}

/* .theme-light-2 {
  --primary: 36, 34, 27;
  --secondary: 228, 220, 201;
  --primbuttn: 36, 34, 27;
  --secbuttn: 228, 230, 201;
  --accent: 36, 34, 27;
} */
.theme-light-2 {
  --primary: 247, 244, 242;
  --secondary: 222, 207, 206;
  --primbuttn: 236, 228, 223;
  --secbuttn: 10, 7, 6;
  --accent: 161, 120, 94;
}

.theme-light-3 {
  --primary: 0, 0, 0;
  --secondary: 237, 248, 243;
  --primbuttn: 29, 70, 73;
  --secbuttn: 215, 225, 239;
  --accent: 29, 47, 73;
}

/* .theme-light-4 {
  --primary: 8, 12, 10;
  --secondary: 225, 234, 228;
  --primbuttn: 61, 87, 71;
  --secbuttn: 195, 213, 202;
  --accent: 85, 119, 97;
} */

.theme-light-4 {
  --primary: 8, 12, 10;
  --secondary: 206, 204, 188;
  --primbuttn: 61, 87, 71;
  --secbuttn: 197, 188, 171;
  --accent: 85, 119, 97;
}

.theme {
  --primary: rgb(36, 34, 27);
  --secondary: rgb(228, 220, 201);
  --primbuttn: rgb(36, 34, 27);
  --secbuttn: rgb(228, 220, 201);
  --accent: rgb(36, 34, 27);
}
/* .theme-light-4 {
  --primary: rgb(36, 34, 27);
  --secondary: rgb(228, 220, 201);
  --primbuttn: rgb(36, 34, 27);
  --secbuttn: rgb(228, 220, 201);
  --accent: rgb(36, 34, 27);
} */

.theme-dark-1 {
  --primary: 244, 246, 245;
  --secondary: 7, 12, 19;
  --primbuttn: 75, 113, 100;
  /* --primbuttn: 141, 165, 163; */
  --secbuttn: 13, 20, 33;
  /* --secbuttn: 10, 10, 10; */
  /* --accent: 190, 255, 255; */
  --accent: 230, 146, 35;
}

.theme-dark-2 {
  --primary: 217, 242, 240;
  --secondary: 0, 0, 0;
  --primbuttn: 198, 88, 97;
  --secbuttn: 9, 27, 25;
  --accent: 198, 88, 97;
}
.theme-dark-3 {
  --primary: 251, 251, 249;
  --secondary: 9, 10, 6;
  --primbuttn: 150, 186, 135;
  --secbuttn: 19, 32, 22;
  --accent: 80, 139, 93;
}

.theme-dark-4 {
  --primary: 244, 246, 245;
  --secondary: 19, 17, 10;
  --primbuttn: 75, 113, 100;
  --secbuttn: 63, 59, 56;
  --accent: 230, 185, 35;
}

@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  /* @font-face {
    font-family: "Iransans";
    src:
      local("Iransans"),
      url("/fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  } */
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
label,
input,
button,
li,
div {
  font-family: "Iransans";
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: rgb(var(--accent));
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -webkit-appearance: textfield; /* For Safari and Chrome */
  -moz-appearance: textfield; /* For Firefox */
  appearance: textfield; /* For other browsers */
}

#__next {
  @apply bg-secondary;
}

*::selection {
  background: rgb(var(--accent));
  color: rgb(var(--secondary));
}
/* * {
  scrollbar-width: auto;
  scrollbar-color: #bababaac transparent;
} */

/* @-moz-document url-prefix() {
  *::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: rgb(var(--secondary));
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(var(--primbuttn));
    border-radius: 10px;
    border: 3px solid transparent;
    transition: opacity 0.5s 0.5s ease-out;
  }
  *::-webkit-scrollbar-thumb:hover {
    background-color: rgb(var(--accent));
  }
} */

/* CHROME */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: rgb(var(--secondary));
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--primbuttn));
  border-radius: 10px;
  border: 3px solid transparent;
  transition: opacity 0.5s 0.5s ease-out;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--primary));
}
/* time picker */

.react-ios-time-picker {
  margin-bottom: 50px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 11px 15px #0005;
}

.react-ios-time-picker-transition {
  animation: fade-in 150ms ease-out;
}

@keyframes fade-in {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.react-ios-time-picker-fast {
  transition: transform 700ms cubic-bezier(0.13, 0.67, 0.01, 0.94);
}

.react-ios-time-picker-slow {
  transition: transform 600ms cubic-bezier(0.13, 0.67, 0.01, 0.94);
}

.react-ios-time-picker-top-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  background: #0009;
  background: linear-gradient(180deg, #0009 0%, #1c1c1c 100%);
}

.react-ios-time-picker-bottom-shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #0009;
  background: linear-gradient(0deg, #0009 0%, hsla(0, 0%, 11%, 1) 100%);
}

.trackline {
  flex: 1 1 0%;
  position: relative;
  height: 1px;
  background: linear-gradient(
    90deg,
    var(--primary) 0,
    var(--primary) 25%,
    var(--accent) 50%,
    var(--primary) 75%,
    var(--primary) 100%
  );
}

.Onboarding_BranchTableLine__FC_bw,
.Onboarding_TrackBranchLine__UTQSQ {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: Onboarding_dash__rRBdq 0.75s 0.15s forwards;
  @apply stroke-primary;
}

@keyframes Onboarding_dash__rRBdq {
  0% {
    stroke-dashoffset: 1;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.rmdp-container {
  max-height: none !important;
  border: none !important;
}

.rmdp-container > input {
  height: 100% !important;
  border-color: transparent !important;
  border-radius: 7px !important;
  background-color: rgb(var(--secbuttn));
}

/* tremor */
.tremor-Legend-legendItem {
  display: flex !important;
  justify-items: right !important;
  align-items: center !important;
  gap: 5px !important;
}
.tremor-Legend-legendItem svg {
  margin: 0 !important;
}

.tremor-Tracker-root {
  @apply flex h-10 items-center justify-center gap-1 space-x-0;
}

.tremor-Tracker-trackingBlock {
  @apply h-full w-full rounded-lg;
}

.recharts-tooltip-wrapper {
  direction: ltr;
}

/* tspan {
  @apply text-[10px];
} */

@keyframes intro_width_140 {
  0% {
    opacity: 1;
    width: 0%;
    background-color: var(--primbuttn);
  }

  to {
    background-color: var(--accent);
    width: 140%;
    opacity: 0.6;
  }
}

@keyframes intro_width_100 {
  0% {
    opacity: 1;
    width: 0%;
  }

  to {
    width: 100%;
    opacity: 0.6;
  }
}

@keyframes intro_width_215 {
  0% {
    opacity: 1;
    width: 0%;
  }

  to {
    width: 215%;
    opacity: 0.6;
  }
}

@keyframes intro_height_100 {
  0% {
    opacity: 1;
    height: 0%;
  }

  to {
    height: 100%;
    opacity: 0.6;
  }
}

@keyframes intro_height_120 {
  0% {
    opacity: 1;
    height: 0%;
  }

  to {
    height: 120%;
    opacity: 0.6;
  }
}

@keyframes intro_height_160 {
  0% {
    opacity: 1;
    height: 0%;
  }

  to {
    height: 160%;
    opacity: 0.6;
  }
}

@keyframes intro_opacity {
  to {
    opacity: 1;
  }
}

.line_width_animation_100 {
  --a-easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --a-duration: 1.08s;
  --a-delay: 0.15s;
  animation: intro_width_100 var(--a-duration) var(--a-easing) forwards;
  animation-delay: calc(var(--a-delay) + 0.1s);
}

.line_width_animation_140 {
  --a-easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --a-duration: 1.08s;
  --a-delay: 0.15s;
  animation: intro_width_140 var(--a-duration) var(--a-easing) forwards;
  animation-delay: calc(var(--a-delay) + 0.1s);
}

.line_width_animation_215 {
  --a-easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --a-duration: 1.08s;
  --a-delay: 0.15s;
  animation: intro_width_215 var(--a-duration) var(--a-easing) forwards;
  animation-delay: calc(var(--a-delay) + 0.1s);
}

.line_height_animation_100 {
  --a-easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --a-duration: 1.08s;
  --a-delay: 0.15s;
  animation: intro_height_100 var(--a-duration) var(--a-easing) forwards;
  animation-delay: calc(var(--a-delay) + 0.1s);
}

.line_height_animation_120 {
  --a-easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --a-duration: 1.08s;
  --a-delay: 0.15s;
  animation: intro_height_120 var(--a-duration) var(--a-easing) forwards;
  animation-delay: calc(var(--a-delay) + 0.1s);
}

.line_height_animation_160 {
  --a-easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --a-duration: 1.08s;
  --a-delay: 0.15s;
  animation: intro_height_160 var(--a-duration) var(--a-easing) forwards;
  animation-delay: calc(var(--a-delay) + 0.1s);
}

/*  svg animtion */

/* .animate-path {
  stroke-dasharray: 7;
} */

/* guage */

.tick-value > text,
.tick-line > text {
  fill: rgb(var(--primary)) !important;
}

.bg-muted {
  background-color: rgb(var(--accent)) !important;
}

[role="dialog"] {
  /* @apply overflow-y-auto; */
  padding: 0;
}

/* recharts */

.recharts-rectangle.recharts-tooltip-cursor {
  fill: #00000049;
}

/* guide__page */
.guide__page {
  @apply flex flex-col justify-center gap-4;
}
.guide__page strong {
  @apply bg-secondary text-2xl leading-10 text-accent;
}
.guide__page p {
  @apply leading-10;
}
.guide__page ul {
  @apply list-disc;
}
.cross_hatch_pattern {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgb(var(--accent), 0.3) 10px,
    rgb(var(--accent), 0.5) 11px
  );
}

/* conductor */
.foundation_cpu__ciXpm [data-connectors] {
  --connector-width: 6px;
  --connector-height: 10px;
  position: absolute;
  display: flex;
}

.foundation_cpu__ciXpm {
  background: linear-gradient(
      180deg,
      rgb(var(--secbuttn)) 0,
      rgb(var(--secondary)) 100%
    ),
    linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 0.1) 0,
      hsla(0, 0%, 100%, 0.1) 26.56%,
      rgba(0, 0, 0, 0.1) 51.56%,
      rgba(0, 0, 0, 0.1) 100%
    );
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 6px 4px -2px rgba(0, 0, 0, 0.15),
    inset 0 -3px 1px -1px rgba(0, 0, 0, 0.25);
}

.foundation_cpu__ciXpm:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 3px;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.1),
    hsla(0, 0%, 100%, 0.1) 26.56%,
    rgba(0, 0, 0, 0.1) 51.56%,
    rgba(0, 0, 0, 0.1)
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
}

.foundation_cpu__ciXpm [data-text] {
  background: linear-gradient(
    92.66deg,
    #aeaeae,
    #eaeaea 19.79%,
    #9d9b9b 33.33%,
    #efecec 70.31%,
    #848484
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:
    0 0 10px hsla(0, 0%, 100%, 0.1),
    0 -1px 0 rgba(0, 0, 0, 0.1);
}
.foundation_cpu__ciXpm::before {
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.05),
    hsla(0, 0%, 100%, 0.05) 26.56%,
    rgba(0, 0, 0, 0.05) 51.56%,
    rgba(0, 0, 0, 0.05)
  );
}

.foundation_cpu__ciXpm [data-connectors][data-side="left"],
.foundation_cpu__ciXpm [data-connectors][data-side="right"] {
  gap: 14px;
}

.foundation_cpu__ciXpm [data-connectors][data-side="left"] {
  flex-direction: column;
  left: calc(var(--connector-height) * -1);
}

.foundation_cpu__ciXpm [data-connectors][data-side="left"] [data-connector] {
  background: linear-gradient(
    90deg,
    #fff,
    #d9d9d9 33.33%,
    #fff 66.67%,
    #bcbcbc
  );
}

.foundation_cpu__ciXpm [data-connectors][data-side="left"] [data-connector],
.foundation_cpu__ciXpm [data-connectors][data-side="right"] [data-connector] {
  height: var(--connector-width);
  width: var(--connector-height);
}

.foundation_cpu__ciXpm [data-connectors][data-side="bottom"],
.foundation_cpu__ciXpm [data-connectors][data-side="top"] {
  gap: 19px;
}

.foundation_cpu__ciXpm [data-connectors][data-side="bottom"] [data-connector],
.foundation_cpu__ciXpm [data-connectors][data-side="top"] [data-connector] {
  width: var(--connector-width);
  height: var(--connector-height);
}

.foundation_cpu__ciXpm [data-connectors][data-side="top"] {
  top: calc(var(--connector-height) * -1);
}

.foundation_cpu__ciXpm [data-connectors][data-side="top"] [data-connector] {
  background: linear-gradient(
    180deg,
    #9a9a9a,
    #686868 33.33%,
    #848484 66.67%,
    #3a3a3a
  );
}

.foundation_cpu__ciXpm [data-connectors][data-side="bottom"] {
  bottom: calc(var(--connector-height) * -1);
}

.foundation_cpu__ciXpm [data-connectors][data-side="bottom"] [data-connector] {
  background: linear-gradient(
    180deg,
    #898989,
    #6f6f6f 33.33%,
    #a3a3a3 66.67%,
    #535353
  );
}

.foundation_cpu__ciXpm [data-connectors][data-side="right"] [data-connector] {
  background: linear-gradient(
    90deg,
    #fff,
    #d9d9d9 33.33%,
    #fff 66.67%,
    #bcbcbc
  );
  box-shadow:
    0 2px 2px 1px rgba(0, 0, 0, 0.05),
    inset -1px 0 1px 1px rgba(0, 0, 0, 0.1),
    inset -1px 0 1px #ddd;
}

.foundation_cpu__ciXpm [data-connectors][data-side="right"] [data-connector] {
  background: linear-gradient(
    1turn,
    #6f6f6f,
    #878787 33.33%,
    #8b8b8b 66.67%,
    #4d4d4d
  );
}
.foundation_cpu__ciXpm [data-connectors][data-side="right"] {
  flex-direction: column;
  right: calc(var(--connector-height) * -1);
}
.foundation_cpu__ciXpm [data-connectors][data-side="left"] [data-connector] {
  background: linear-gradient(
    1turn,
    #6f6f6f,
    #878787 33.33%,
    #8b8b8b 66.67%,
    #4d4d4d
  );
}

.foundation_cpu__ciXpm [data-cpu-shine] {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}

.foundation_cpu__ciXpm [data-cpu-shine]:after {
  content: "";
  background: linear-gradient(
    90deg,
    transparent 20%,
    transparent 40%,
    hsla(0, 0%, 100%, 0.2) 50%,
    hsla(0, 0%, 100%, 0.15) 55%,
    transparent 70%,
    transparent
  );
  z-index: 2;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  transform: scale(2.2) rotate(-30deg);
  animation: foundation_shine__xOb2E 5s ease infinite;
  opacity: 0.6;
  background-size: 200% auto;
  mix-blend-mode: plus-lighter;
}

.foundation_cpu__ciXpm [data-cpu-shine]:after {
  opacity: 0.3;
}
@keyframes foundation_shine__xOb2E {
  to {
    background-position: 200%;
    opacity: 0;
  }
}

.foundation_mobileLines__3hBQx {
  position: absolute;
  top: 30px;
  display: none;
}

@media (max-width: 480px) {
  .foundation_mobileLines__3hBQx {
    display: block;
  }
}
.foundation_card__v7VKB {
  box-shadow:
    0 1px 0 1px rgba(0, 0, 0, 0.02),
    0 4px 6px rgba(0, 0, 0, 0.02),
    inset 0 0 0 6px rgb(var(--secondary), 1);
  position: relative;
  transition: background 0.15s ease;
}
.foundation_card__v7VKB:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1.2px;

  mask-composite: exclude;
  pointer-events: none;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.blueShadow:before {
  background: conic-gradient(
    from 180deg at 50% 50%,
    transparent 0deg,
    transparent 176deg,
    #61dafb 193deg,
    transparent 217deg,
    transparent 1turn
  );
}

.yellowShadow:before {
  background: conic-gradient(
    from 180deg at 50% 50%,
    transparent 0deg,
    transparent 176deg,
    rgb(var(--accent)) 193deg,
    transparent 217deg,
    transparent 1turn
  );
}

.redShadow:before {
  background: conic-gradient(
    from 180deg at 50% 50%,
    transparent 0deg,
    transparent 176deg,
    #be123c 193deg,
    transparent 217deg,
    transparent 1turn
  );
}
/* red #c02020 */

.bg-shadow {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(var(--accent), 0.05) 0,
    rgb(var(--secondary)) 100%
  );
}

/* .powerline path {
  @apply stroke-primary/40;
} */
/* .powerline circle {
  @apply fill-accent;
} */

/* .powerline g > path:nth-child(2) {
  stroke-dasharray: 1032;
  stroke-dashoffset: 1032;
  animation: line-anim 0.5s ease infinite;
}

@keyframes line-anim {
  to {
    offset-distance: 1;
  }
} */

.powerlineMobile path {
  @apply stroke-accent;
}
.sizeforh2 {
  font-size: clamp(0.2rem, 12vw + 1rem, 1.875rem);
}
.liquid-filter {
  -webkit-filter: url(#liquid);
  filter: url(#liquid);
}
